@charset "utf-8";

.login .header{
    width: 100%;
    height: 113px;
}
.login .header .h-box{
    width: 1200px;
    margin: 0px auto 0px auto;
}
.login .header .h-box .h-logo{
    height: 113px;
    float: left;
    margin-right: 80px;
}
.login .header .h-box .h-logo img{
    width: 100%;
    height: 100%;
}
.login .header .h-box .h-right{
    float: right;
    line-height: 113px;
}
.login .header .h-box .h-right a{
    padding: 8px 20px;
    border:1px solid #ccc;
    border-radius: 50px;
    color:#444444;
}
.login .header .h-box .h-right a:hover{
    background: #1eb97b;
    border:1px solid #1eb97b;
    color:#fff;
}
.login .content{
    position: relative;
    width: 100%;
    height: 560px;
    background: url("../images/home-bg.jpg") no-repeat center/cover;
}
.login .content .login-box{
    position: absolute;
    top: 50%;
    right: 15%;
    margin-top: -182px;
    width: 400px;
    height: 364px;
    background: #fff;
    border: 1px solid #d8dadd;
    box-shadow: 0px 0px 8px rgba(0,0,0,.4);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.login .content .login-box .c-title{
    font-size: 20px;
    font-style: normal;
    line-height: 42px;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    border-bottom:1px solid #ccc;
    padding: 10px 17px 10px 17px;
}
.layui-form{
    margin-top: 20px;
}
.layui-input{
    width: 250px;
    height: 44px;
}
.layui-form-label{
    width: 60px;
    height: 26px;
    line-height: 26px;
}
.layui-form-item{
    margin-top: 36px;
}
.layui-btn-color{
    margin-left: 41px;
    height: 44px;
    width: 300px;
    background: #68c069;
}
.login  .footer{
    color: #333;
    font-size: 12px;
    margin-top: 86px;
    text-align: center;
}
.login .footer ul{
    width: 628px;
    margin: auto;
}
.login .footer ul li{
    padding:0 5.5px;
    position: relative;
    line-height: 28px;
    cursor: pointer;

}
.login .footer ul li:after{
    content: '';
    width: 1px;
    height: 12px;
    background: #333;
    position: absolute;
    left: 0px;
    top: 7px;
}
.login .footer ul li:first-child:after{
    content: '';
    width: 0;
    height: 0px;
    background: #333;
    position: absolute;
    left: 0px;
    top: 20px;
}
.login .footer ul li:hover{
    color: #bd0a01;
    text-decoration: underline;
}
.login .footer p{
    cursor: pointer;
    line-height: 28px;
}
.login .footer .nav{
    line-height: 28px;
}
.login .footer .nav span:hover{
    cursor: pointer;
     color: #bd0a01;
     text-decoration: underline;

 }


